* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
  font-family: "Questrial", sans-serif; /* You can change this to your preferred font */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}


img, video {
  max-width: 100%;
  height: auto;
}


.p-1 { padding: 1rem; }
.p-2 { padding: 2rem; }
.m-1 { margin: 1rem; }
.m-2 { margin: 2rem; }


.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

section, div {
  overflow: hidden;
}


.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.ml-1 { margin-left: 1rem; }
.ml-2 { margin-left: 2rem; }
.mr-1 { margin-right: 1rem; }
.mr-2 { margin-right: 2rem; }


.container {
  width: 100%;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
